h1 {
    color: rgb(148, 2, 148);
    text-align: center;
    font-style: oblique;
    font-size: 13mm;
}
.important{
    padding-left: 30%;
}
img {
    padding-left: 40%;
}
h2 {
    color: rgb(5, 5, 168);
    font-size: 12mm;
    font-style: italic;
}
h3 {
    font-size: 10mm;
    background-color: mediumaquamarine;
    color: mistyrose;
}
p {
    font-size: 8mm;
    color: rgb(1, 70, 1);
}
ol {
    font-size: 7mm;
    color:rgb(170, 2, 2);
}

body {
    background-color: mistyrose ;
}